// - - - - - - - - - - - - - - - - - -

// Logos

// - - - - - - - - - - - - - - - - - -

.logoimage {
border: 0;
list-style: none;
padding: 0.2em .1em 0.2em .1em
object-fit: contain;
justify-content: center;
align-items: center;
width: 90%;
}

.brands {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 1rem;

}

.brands__item {
background: #ffffff;
}




